@font-face {
    font-family: "OpenSans-regular";
    src: url("font/OpenSans-Regular.ttf") format("truetype");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: "OpenSans-regular", sans-serif;
}

.myname{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 500px;
    background-image: url(/resources/matrix.jpg);
    color: rgb(255, 255, 255);
    font-size: 30px;
    box-shadow: inset 0 0 10px 10px rgb(28, 27, 27), inset 0px 0px 10px 500px rgba(10, 65, 44, 0.209);  /* FIXES IMAGES QUALITY */ 
    border-bottom: solid 7px rgb(32, 32, 32);
}

.myname_text{
    display: flex;
    letter-spacing: 40px;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-shadow: 0px 0px 10px rgb(255, 255, 255),
    3px 1px rgb(24, 249, 212),
    -4px -1px rgb(54, 6, 157),
    4px -2px rgb(0, 53, 245),
    -5px 2px rgb(0, 53, 245),   

    6px 5px rgb(0,0,0),
    -6px -5px rgb(0,0,0),

    7px 4px rgb(255, 255, 255),
    -7px -4px rgb(255, 255, 255),

    5px 7px rgb(255, 255, 255),
    -5px -7px rgb(255, 255, 255),

    2px 8px rgb(0,0,0),
    -2px -8px rgb(0,0,0),

    0px 10px rgb(0,0,0),
    0px -10px rgb(0,0,0),

    -10px 9px rgba(204, 43, 244, 0.56),
    
    10px -9px rgba(47, 19, 190, 0.665)
    
    ;
}

.myname_text h1{
    height: 100%;
    border-top: solid 1px black;
    border-left: solid 1px black;
    padding: 15PX 10PX 5PX 40PX;
    border-top-left-radius: 40%;
     /* box-shadow: inset 15px 0px rgba(255, 255, 255, 0.633), 
    1px 0px 3px 5px rgba(164, 161, 161, 0.871)
     ; */
}


.undermaintenace{
    display: flex;
    width: 100%;
    min-height: 300px;
    align-items: center;
    justify-content: center;
}
