* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "OpenSans";
    src: url("../font/OpenSans-Regular.ttf");
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url(/resources/desktopbg.png);
    background-size: cover;
    font-family: "OpenSans", sans-serif;
}


.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}


.footer{
    display: block;
    align-items: center;
    background-color: black;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 100;
}

.taskbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.left{
    display: flex;
    flex-direction: row;
    
}

.winbtn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7.5px;
    padding-left: 10px;
    padding-right: 10px;
}

.winbtn_ico{
    width: 25px;
    height: 25px;
}

.winbtn_content{
    display: flex; /* replace with none */
    position: absolute;
    flex-direction: row;
    bottom: 40px;
    left: 0;
    min-width: 1070px;
    min-height: 600px;
    background-color: rgb(47, 45, 45);
    color: #ffff;
    border: 1px solid #888;
    padding: 15px;
    transition: opacity 0.15s ease, visibility 0.15s ease;
}


/* winbtn:hover .winbtn_content,
.winbtn_content:hover {
    display: flex;
    opacity: 1;
    visibility: visible;
}
    */

.winbtn:hover{
    background-color: rgb(94, 87, 87);
}

.winbtn_left{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.winbtn_left_top{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}

.left_user{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}

.left_usericon{
    display: flex;
    align-self: center;
    background-color: #888;
    border-radius: 50%;
    padding: 10px;
}

.left_username{
    display: flex;
}

.left_user_content{
    display: flex;
}

.left_mostused{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    gap: 4px;
}

.left_mostused h4{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.568);
    margin-bottom: 5px;
}

.mostused_start{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.mostused_startico{
    background-color: rgb(29, 120, 173);
    padding: 6px;
}

.mostused_calculator{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.mostused_calculatorico{
    background-color: rgb(29, 120, 173);
    padding: 6px;
}


.mostused_maps{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.mostused_mapsico{
    background-color: rgb(29, 120, 173);
    padding: 6px;
}

.mostused_people{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.mostused_peopleico{
   background-color: rgb(29, 120, 173);
   padding: 6px;
}

.mostused_alarmclock{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.mostused_alarmclockico{
   background-color: rgb(29, 120, 173);
   padding: 6px;
}

.winbtn_left_bottom{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-size: 14px;
    gap: 4px;
    justify-content: flex-end;
}

.left_resourcemanager{
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap: 10px;
}

.left_settings{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.left_power{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.left_apps{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.winbtn_middle{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    
}

.middle_trending{
    display: grid;
    gap: 6px;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(4, 120px);
}

.trending_calender{
    grid-column: span 1;
    background-color: rgb(29, 120, 173);
    justify-content: end;

}

.trending_calender_content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-end;

}

.trending_calender_content i{
    align-self: center;
    padding-bottom: 15px;
}

.trending_calender_content p{
    font-size: 15px;
    padding: 0px 0px 5px 5px;
}


.trending_mail{
    grid-column: span 2;
    background-color: rgb(1, 86, 22);
}

.trending_mail_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(29, 120, 173);
    height: 100%;
    align-items: end;
}

.trending_mail_content i{
    padding: 0px 5px 5px 0px;
}

.trending_mail_content p{
    font-size: 15px;
    padding: 0px 0px 5px 5px;
}


.trending_browser{
    grid-column: span 2;
    background-color: rgb(62, 0, 0);
}

.trending_photos{
    grid-column: span 1;
    background-color: rgb(249, 138, 138);
}

.trending_weather{
    grid-column: span 1;
    background-color: rgb(62, 34, 34);
}

.trending_phone{
    grid-column: span 1;
    background-color: rgb(226, 0, 0);
}

.trending_forums{
    grid-column: span 1;
    background-color: rgb(149, 115, 115);
}

.trending_shop{
    grid-column: span 1;
    background-color: rgb(70, 39, 39);
}   

.trending_call{
    grid-column: span 2;
    background-color: rgb(160, 36, 36);
}

.winbtn_right{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.right_entertainment{
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(4, 120px);
}

.entertainment_games{
    background-color: rgb(255, 144, 144);
}

.entertainment_music{
    background-color: rgb(75, 27, 27);
}

.entertainment_movies{
    background-color: rgb(163, 25, 25);
}

.entertainment_cards{
    background-color: rgb(93, 93, 93);
}

.entertainment_holder1{
    grid-column: span 2;
    background-color: rgb(104, 0, 0);
}

.entertainment_news{
    grid-column: span 2;
    background-color: rgb(0,0,0);
}

.entertainment_economy{
    background-color: rgb(26, 0, 0);
}

.entertainment_holder2{
    background-color: rgb(93, 49, 49);
}

.entertainment_editor{
    background-color: rgb(82, 60, 60);
}

.entertainment_useless{
    background-color: rgb(79, 72, 72);
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7.5px;
    padding-left: 7px;
    padding-right: 7px;
    
}

.search_ico{
    display: block;
    width: 25px;
    height: 25px;
}

.search:hover{
    background-color: rgb(94, 87, 87);
}

.desktopmana{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7.5px;
    padding-left: 7px;
    padding-right: 7px;
}

.desktopmana_ico{
    display: block;
    width: 25px;
    height: 25px;
}

.desktopmana:hover{
    background-color: rgb(94, 87, 87);
}

.edge{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7.5px;
    padding-left: 7px;
    padding-right: 7px;
}

.edge_ico{
    display: block;
    width: 25px;
    height: 25px;
}

.edge:hover{
    background-color: rgb(94, 87, 87);
}

.resources{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7.5px;
    padding-left: 7px;
    padding-right: 7px;
}

.resources_ico{
    display: block;
    width: 25px;
    height: 25px;
}

.resources:hover{
    background-color: rgb(94, 87, 87);
}

.store{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7.5px;
    padding-left: 7px;
    padding-right: 7px;
}

.store_ico{
    display: block;
    width: 25px;
    height: 25px;
}

.store:hover{
    background-color: rgb(94, 87, 87);
}

.right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.up{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 40px;
    padding: 10px;
    padding-left: 3px;
    padding-right: 3px;
}

.up_ico{
    display: block;
    width: 20px;
    height: 20px;
}

.up:hover{
    background-color: rgb(94, 87, 87);
}

.internet{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 40px;
    padding: 10px;
    padding-left: 3px;
    padding-right: 3px;
    color: #ffff;
}

.internet_ico{
    display: block;
    width: 20px;
    height: 20px;
}

.internet:hover{
    background-color: rgb(94, 87, 87);
}



.volume{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 40px;
    padding: 10px;
    padding-left: 3px;
    padding-right: 3px;
}

.volume_ico{
    display: block;
    width: 20px;
    height: 20px;
}

.volume:hover{
    background-color: rgb(94, 87, 87);
}


.timendate{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 40px;
    gap: 3px;
    font-size: 10px;
    padding: 7.5px;
    padding-left: 15px;
    padding-right: 15px;
}

.timendate:hover{
    background-color: rgb(94, 87, 87);
}

.time{
    display: flex;
    color: #ffff;
    letter-spacing: 2px;
}

.date{
    display: flex;
    color: #ffff;
    letter-spacing: 1px;
}

.news{
    display: flex;
    border-left: solid 1px #ffff;
    border-top: solid 1px #fff;
    padding-left: 7px;
    height: 40px;
}

.news:hover{
    background-color: rgb(94, 87, 87);
}


