* {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url(/resources/win10.jpeg);
    background-size: cover;
    font-family: "OpenSans-regular", sans-serif;
}


.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}


.footer{
    display: block;
    align-items: center;
    background-color: black;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 100;
}

.taskbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.left{
    display: flex;
    flex-direction: row;
}

.winbtn{
    display: flex;
    width: 25px;
    height: 25px;
    padding-left: 15px;
    padding-right: 11px;

}

.search{
    display: flex;
    width: 25px;
    height: 25px;
    padding-left: 11px;
    padding-right: 11px;
    
}

.desktopmana{
    display: flex;
    width: 25px;
    height: 25px;
    padding-left: 11px;
    padding-right: 11px;
}

.edge{
    display: flex;
    width: 25px;
    height: 25px;
    padding-left: 11px;
    padding-right: 11px;
}

.resources{
    display: flex;
    width: 25px;
    height: 25px;
    padding-left: 11px;
    padding-right: 11px;
}

.store{
    display: flex;
    width: 25px;
    height: 25px;
    padding-left: 11px;
    padding-right: 11px;
}

.right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.up{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.internet{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    color: #ffff;
}

.volume{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
   padding-left: 5px;
    padding-right: 5px;
}

.timendate{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 35px;
    gap: 3px;
    font-size: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.time{
    display: flex;
    color: #ffff;
    letter-spacing: 2px;
}

.date{
    display: flex;
    color: #ffff;
    letter-spacing: 1px;
}

.news{
    display: flex;
    border-left: solid 1px #ffff;
    border-top: solid 1px #fff;
    padding-left: 7px;
    height: 40px;
}


